body{
    background: #CCC;
}
#admin textarea, #admin pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
#admin .expandingArea {
    position: relative; }
#admin .expandingArea > textarea, #admin .expandingArea > pre {
    /*background: transparent;*/
    background: #FFF;
    white-space: pre-wrap;
    word-wrap: break-word; 
    margin-bottom: 1.0em;
}
#admin .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px; }
#admin .expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none; }
#admin .expandingArea > pre {
    display: none; }
#admin .expandingArea.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden; }