/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
$fixed-bar-offset: 12em;
$fixed-bar-width: 24em;
body {
	/*background-color: #FFF;*/
	height: 100%;
	background-image: url("../img/light_wool.png");
	/*background-attachment: fixed;*/
}
.container{
	margin: 0 auto;
	/*height: 100%;*/
}

#sidebar{
	/*height: 100%;*/
	background-color: #FAFAFA;
	height: auto;
	/*margin-left: $fixed-bar-offset;*/
	width: $fixed-bar-width + $fixed-bar-offset;
	position: fixed;
	bottom: 0;
	top: 0;
	text-align: right;
}
.navigation{
	/*height: 240px;*/
	bottom: 20px;
	margin: 10px 0;
	/*background-color: #A1C4C9;*/
}
nav{
	height: 100%;
	/*background-color: #A1C4C9;*/
}
div.sidebar{
	/*text-align: right;*/
	height: 20px;
	padding: 10px 10px;
	line-height: 20px;
	/*border-bottom: 1px dashed #FFF;*/
	border-right: 0px solid #03ACEB;
	transition : border-right 100ms ease-out; 
  	-webkit-transition : border-right 100ms ease-out; 
  	-moz-transition : border-right 100ms ease-out;
  	-o-transition : border-right 100ms ease-out;  
}
div.selected, div.sidebar:hover{
	border-right: 5px solid #03ACEB;
	transition : border-right 100ms ease-out; 
  	-webkit-transition : border-right 100ms ease-out; 
  	-moz-transition : border-right 100ms ease-out;
  	-o-transition : border-right 100ms ease-out; 
}

#main_content{
	/*float: right;*/
	margin-top: 20px;
	margin-left: $fixed-bar-width + $fixed-bar-offset + 2.0em;
	
	min-width: 321px;
	height: 100%;
	background-color: rgba(255,255,255,0);
	max-width: 700px;
	/*padding:50px 40px;	*/
}
header {
	margin: 15px auto;
	margin-left: $fixed-bar-offset;
	padding-bottom: 20px;
	h1{
		width: auto;
	}
	#logo {
		width: 100px;
	}
}
#logo img{
	margin-bottom: 0;
}
/*article {
	max-width: 700px;
	padding:50px 40px;
}*/
.headline {
	border-bottom: 2px solid #EEE;
	border-bottom-style: solid;
	margin-bottom: 20px;
}

.tooltip_display{
	/*display:none;*/
	background-color: #FFF;
	border: 1px dashed #DDD;
	border-radius: 2px;
	padding: 10px;
}

/* #Page Styles
==============={=================================== */
/* Index */
$date-width: 4.0em;
$date-radius: $date-width * 0.1;
$bg: #03ACEB;
.post_item{
	margin: 1.5em;
	margin-bottom: 3.6em;
	
	a{
		font-size: 1.8em;
		border-bottom: none;
		height: auto;
		&:hover{
			background-color:inherit;
		};
	}
	.post_date{
		background-color: $bg;
		text-align: center;
		color: #FFF;
		display: inline; 
		/*float: left; 
		clear: left; */
		width: $date-width;
		padding: 0.5em;
		border-radius: $date-radius;
		border: 1px $bg #000;

		vertical-align: top;
	}
	.post_title{
		display: inline;
		vertical-align: top;
		/*font-size: 1.0em;*/
		/*line-height: 2.0em;*/
		margin-left: 0.5em;
	}
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
/*		#left-col{
			position: fixed;
			height: 100%;	
		}*/
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
/*		#left-col{
			width:200px;
		}
		#right-col{
			margin-left: 200px;
		}
		header #logo {
			width: auto;
			margin-left: 25px;
			margin-right: 25px;
		}*/
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.container{
			margin: 0;
			width: 100%;
		}
		#sidebar{
			position: static;
			float: none;
			width: 100%;
			text-align: center;
			margin: 0;
			padding: 0.5em;
		}
		#main_content{
			min-width: 0;
			max-width: none;
			width: inherit;
			margin: 0px;
			height: 100%;
			background: #FEFEFE;
			padding:50px 0px;	
		
			> article{
				padding-right: 1.2em;
				padding-left: 1.2em;
			}
		}
		header{
			margin: 3.0em;
		}
		header h1, header h2{
			margin: auto 3.0em;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/