/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
	background-attachment: fixed;
	/*background-image: url("../images/light_wool.png");*/
	/*background-image: url("http://fc07.deviantart.net/fs70/f/2012/030/7/3/watercolor_background_by_xkirakirax-d4o6oi2.jpg");*/
	/*background-image: url("http://img.docstoccdn.com/thumb/orig/606506.png");*/
	/*
	background-position: 0 400px;
	*/
	background-repeat: no-repeat;
	background-position: 0 bottom;
	background-image: url("../images/wc-bg.png");
	background-color: #FEFEFE;
	height: 100%;
}
.container{
	margin: 0 auto;
	max-width: 950px;
	height: 100%;
	/*box-shadow: 0px -5px 20px -8px #999;*/
}

#left-col{
	/*height: 100%;*/
	height: auto;
	margin-top: 10px;
	margin-left: 0px;
	/*width:243px;*/
	width:240px;
	position: fixed;
	bottom: 0;
	top: 0;
	/*background-color: #272727;*/
	background: rgba(255, 255, 255, 0);;
	/*opacity: 0.2;*/

}
.left-top{
	/*height: 240px;	*/
	/*background-color: #DC6A34;*/
	/*background-color: #FFF;*/
	/*border: 1px solid #DC6A34;*/
	/*opacity: 0.8;*/
}
.navigation{
	/*height: 240px;*/
	bottom: 20px;
	margin: 10px 0;
	/*background-color: #A1C4C9;*/
}
nav{
	height: 100%;
	/*background-color: #A1C4C9;*/
}

div.sidebar{
	/*text-align: right;*/
	height: 20px;
	padding: 10px 10px;
	line-height: 20px;
	/*border-bottom: 1px dashed #FFF;*/
	border-right: 0px solid #03ACEB;
	transition : border-right 100ms ease-out; 
  	-webkit-transition : border-right 100ms ease-out; 
  	-moz-transition : border-right 100ms ease-out;
  	-o-transition : border-right 100ms ease-out;  
}
div.sidebar:hover{
	border-right: 5px solid #03ACEB;
	transition : border-right 100ms ease-out; 
  	-webkit-transition : border-right 100ms ease-out; 
  	-moz-transition : border-right 100ms ease-out;
  	-o-transition : border-right 100ms ease-out; 
}

.contacts{
	height:auto;
}
.contact_header{
	height:30px;
	/*background-color: #A1C4C9;*/
	/*border: 1px solid #A1C4C9;*/
	text-align: center;
	line-height: 30px;
}

.con-fb img{
	/*background-image: url("../icons/facebook.png") ;*/
	height: 30px;
	width: 30px;
}
a.con-fb{
	border-bottom: none;
	margin: 0;
	padding: 0;
}

#main_content{
	/*float: right;*/
	margin: 10px 0;
	margin-left: 250px;
	
	min-width: 321px;
	height: 100%;
	background: #FEFEFE;
	border: 1px solid #DDD;
	/*background-image: url("../images/light_wool.png")*/
}
header {
	margin: 15px auto;
}
header h1{
	/*margin: 50px 10px 10px;*/
	text-align: right;
	width: auto;
}
header #logo {
	width: 100px;
	/*margin-left: 125px;
	margin-right: 125px;*/
}
#logo img{
	margin-bottom: 0;
}
article {
	max-width: 700px;
	padding:50px 40px;
}
.title {
	border-bottom: 2px solid #EEE;
	border-bottom-style: solid;
	margin-bottom: 20px;
}

#right-col{
	height: 100%;
	margin-top: 20px;
	margin-left: 710px;
	/*width:243px;*/
	width:240px;
	position: fixed;
	bottom: 0;
	top: 0;
}
.tooltip_display{
	/*display:none;*/
	background-color: #FFF;
	border: 1px dashed #DDD;
	border-radius: 2px;
	padding: 10px;
}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
/*		#left-col{
			position: fixed;
			height: 100%;	
		}*/
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
/*		#left-col{
			width:200px;
		}
		#right-col{
			margin-left: 200px;
		}
		header #logo {
			width: auto;
			margin-left: 25px;
			margin-right: 25px;
		}*/
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
/*		#left-col{
			width: 100%;
			position: static;
			float: none;
		}
		#right-col{
			position: static;
			margin:0;
			padding: 10px;
			float: none;
			background-color: #FFF;
		}*/
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
/*		#left-col{
			position: static;
			float: none;
		}
		#right-col{
			position: static;
			float: none;
			background-color: #FFF;
		}
		header {
			margin: 0px auto;
		}
		header h1 {
			margin: 0;
			vertical-align: bottom;
		}*/
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		/*#left-col{
			position: inherit;
			float: none;
		}
		#right-col{
			position: inherit;
			float: none;
			background-color: #FFF;
		}
		header {
			margin: 0px auto;
		}*/
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/