{% extends "layout.html" %}
{% set active_page = 'about' %}
{% block title %}<title>About Me</title>{% endblock %}
{% block content %}
	<section class="headline about">
    	<h1>About Me</h1>
	</section>
	<article>	
        <p>My name is <strong>Lee Wei Yen</strong>. I'm a software engineer, born and raised in Malaysia. I have been programming ever since I was about 10 years old, when I somehow figured out how to compile a Visual Basic application.</p>
        <p>By day I am a <a href="http://msdn.microsoft.com/en-us/library/67ef8sbd(v=vs.80).aspx">C# .NET</a> developer with more than 2 years' experience, building software for everything from banks, to assembly-line robots. By night I am constantly exploring open-source works, especially <a href="http://www.python.org">Python</a>. I'm also interested in mobile technology.</p>
        <h3>About this blog</h3>
        <p>This blog is based on <a href="https://github.com/orf/simple">simple</a>, a minimalistic blogging platform built on top of <a href="http://flask.pocoo.org">Flask</a>, a lightweight web microframework for Python.
	</article>
{% endblock %}