{% extends "layout.html" %}
{% set active_page = 'blog' %}
{% block title %}<title>Latest Articles - {{ config.BLOG_TITLE }}</title>{% endblock %}
{% block content %}
    <div id="index-container">
        <section class="headline index">
            <h1>Latest Articles</h1>
        </section>
        {% for post in posts %}
        <section id="post-{{ post.id }}" class="post_item">
            <a href="{{ url_for('view_post_slug', slug=post.slug, pid=current_page) }}">
                <div class="post_title">
                <h2>{{ post.title }}</h2>
                <h3>{{ post.created_at.strftime('%d %b %Y') }}</h3>
                </div>
            </a>
        </section>
        
        {% endfor%}
        <section class="pagination">
            {% if current_page > 0 %}
            <a href="{{ url_for('index', page=current_page-1) }}"><div class="post_nav prev">&larr; Prev</div></a>
            {% endif %}
            {% if is_more %}
            <a href="{{ url_for('index', page=current_page+1) }}"><div class="post_nav next">Next &rarr;</div></a>
            {% endif %}
        </section>
    </div>
{% endblock %}