<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<meta name="description" content="wei yen's personal website">
	<meta name="author" content="wei yen">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pygment_trac.css') }}">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  {% block title %}{% endblock %}
  {% block head %}{% endblock %}
</head>

<!-- Navigation Elements -->
<!-- (link, css class, text)-->
{% set navigation_bar = [
    ('/', 'home', 'home'),
    ('/about', 'about', 'about me'),
    ('/blog/', 'blog', 'blog'),
    ('/projects/', 'projects', 'projects'),
    ('/contact', 'contact', 'contact'),
    ('/test', 'test', 'test')
] -%}
{% set active_page = active_page|default('home') -%}
<body>

	<div class="container">
		<div id="main_content">
			{% block content %}{% endblock %}
		</div><!--main_content-->
		<div id="sidebar">
			<div class="header">
				<header>
					<a href="/"><h1>wei<strong>yen</strong></h1></a>
				</header>
      		</div>
      		<div class="navigation">
        		<nav>
        			<!-- <a href="./"><div class="sidebar">home</div></a>
		          	<a href="./about"><div class="sidebar">about me</div></a>
		          	<a href="./blog"><div class="sidebar">blog</div></a>
		          	<a href="./test"><div class="sidebar">test</div></a> -->
		          	{% for href, id, caption in navigation_bar %}
		          		<a href="{{href}}"><div class="sidebar {% if id == active_page %} active{% endif %}">{{caption}}</div></a>
		          	{% endfor %}
					{% if is_admin %}
						{% block admin_links %}
					  		<h2>Admin links</h2>
					  		<a href=""><div class="sidebar">logout</div></a>
						{% endblock %}
					{% endif %}
        		</nav>
      		</div>
		</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>