<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ config.BLOG_TITLE }}</title>
	<meta name="description" content="wei yen's personal website">
	<meta name="author" content="wei yen">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pygment_trac.css') }}">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  {% block title %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<!--<div class="sixteen columns">-->
		<div id="left-col">
			<div class="left-top">
      <header>
        		<h1>wei<strong>yen</strong></h1>
            <h2>Hi, I'm a software engineer from <em>Malaysia</em>. I code in <em>Python</em> and <em>C#</em> for fun and the occasional profit.</h2>
            <h2>If you'd like to contact me, please send me an email at <a href="mailto:lee@weiyen.me">lee@weiyen.me</a></h2>
      </header>
      </div>
      <div class="navigation">
        <nav>
          <a href="./about/"><div class="sidebar">about me</div></a>
          <a href="./blog/"><div class="sidebar">blog</div></a>
          <a href="./projects/"><div class="sidebar">projects</div></a>
          <a href="./experiments/"><div class="sidebar last">experiments</div></a>
          <!--<a href="www.example4.com"><div><strong>placeholder</strong></div></a>-->
        </nav>
      </div>
		</div>
		<div id="main_content">
			{% block content %}{% endblock %}
		</div><!--main_content-->
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>