{% extends "layout.html" %}
{% set active_page = 'blog' %}
{% block title %}<title>{{ post.title }} - {{ config.BLOG_TITLE }}</title>{% endblock %}

{% block sidebar %}
    {% if is_admin %}
        <br />
        <li>
            <p>
                <a  href="{{ url_for('edit', post_id=post.id) }}">Edit post</a>
            </p>
        </li>
    {% endif %}
    <br />
    Views: {{ post.views }}
{% endblock %}
{% block admin_links %}
    {{ super() }}
    {% if is_admin %}
        <a href="{{ url_for('edit', post_id=post.id) }}"><div class="sidebar">edit this post</div></a>
    {% endif %}
{% endblock %}
{% block content %}
    <section class="headline post">
        <h1>{{ post.title }}</h1>
        <!-- <h2>{{ post.created_at.strftime('%d %b %Y') }}</h2> -->
    </section>
    <article id="post-{{ post.id }}">
        <div class="post_container">
            
            {{ post.render_content()|safe }}   
        </div>
    </article>

    <section class="buttons footer">
        <a class="btn back" href="{{ url_for('index', page=pid) }}">&larr; Back to Blog</a>
        <a class="btn twitter" href="https://twitter.com/share?text={{post.title}}&url={{url_for('view_post_slug', slug=post.slug)}}"><div class="icon">&nbsp;</div>Tweet this!</a><!-- 
        <a class="facebook" href="https://www.facebook.com"><div class="icon">&nbsp;</div>Like this!</a>
        <a class="google-plus" href="https://plus.google.com"><div class="icon">&nbsp;</div>+1 this!</a> -->
        
    </section>
{% endblock %}
